/* You can add global styles to this file, and also import other style files */
.height-100vh{
   height: calc(100vh - 74px);
}
.height-100{
   min-height: 100%;
}
@media screen and (max-width: 992px){
   .height-auto-mobile.height-100{
      height: auto;
   }
}
.content{
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
}