<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['']">
        <img src="../../../../assets/img/logo.png" class="logo">
    </a>

    <button class="navbar-toggler orange darken-2" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav ml-auto">
            <!--             
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']">Abra sua conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['transfer']">Transferências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['extract']">Extrato</a>
                </li> 
                -->

            <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Item 1</a>
                        <a class="dropdown-item" href="#">Item 2</a>
                    </div>
                </li> -->
        </ul>
        <div style="border-left: 1px solid orange; height: 80px; margin-right: 1%;"></div>
        <!--  -->
        <div *ngIf="user$ | async; else deslogado">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Olá, {{ (user$ | async).name }}</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="sair()">Sair</a>
                    </div>
                </li>
            </ul>
        </div>

        <ng-template #deslogado>
            <form class="form-inline">
                <div class="md-form my-0" style="display: grid">
                    <span class="acesse">Já possui uma conta?</span>
                    <a [routerLink]="['login']" class="btn btn-orange">Acessar minha conta</a>
                </div>
            </form>
        </ng-template>
    </div>
</nav>