<div class="row height-100vh">
    <div class="col-lg-2 p-0 orange darken-2 height-100">
        <nav class="nav flex-column py-4">
            <a class="nav-link white-text" routerLink="/painel">Gastos Mensais</a>
            <a class="nav-link white-text" routerLink="/transfer">Transferências</a>
            <a class="nav-link white-text" routerLink="/extract">Extratos</a>
        </nav>
    </div>
    <div class="col">

        <p class="h4" style="text-align: center; margin-top:5%;">Gastos Mensais</p>




























        

    </div>
</div>

