<div class="row height-100vh justify-content-center grey lighten-4">
   <div class="col-lg-6">
      <div class="content m-5">
         
         <form class="text-center border border-light p-5">
            <p class="h4 mb-4">Senha de acesso:</p>
            <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password" required #passwordError="ngModel" placeholder="Senha"/>
            <div *ngIf="passwordError.errors && passwordError.touched">
               <p *ngIf="passwordError?.errors.required" class="text-danger p-1">Senha é obrigatória</p>
            </div>
            <a class="btn btn-orange btn-block my-3" (click)="entrar()">Entrar</a>
            <p *ngIf="validMessage">{{ statusMessage }}</p>
         </form>

      </div>
   </div>
</div>